.channels-main {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 250px));
  grid-template-rows: auto;
  grid-gap: 0.3em;
  font-family: "Arial";
  font-size: 14px;
  justify-content: center;
}

.body {
  background-color: #131415;
  color: white;
}

.channel-item {
  height: 100%;
}
